.memoryStar{

position:absolute;

font-size:22px;

cursor:pointer;

z-index:30;

opacity:.7;

filter:

drop-shadow(
0 0 10px rgba(
255,
255,
255,
0.7
));

transition:.4s;

animation:
starFloat 2s infinite alternate;

}


.memoryStar:hover{

transform:
scale(1.4);

opacity:1;

}


@keyframes starFloat{

from{

transform:
translateY(0);

}

to{

transform:
translateY(-10px);

}

}


/* Modal souvenir */

.memoryOverlay{

position:fixed;

inset:0;

background:

rgba(
0,
0,
0,
0.65
);

display:flex;

justify-content:center;

align-items:center;

z-index:500;

backdrop-filter:
blur(10px);

}


.memoryCard{

width:400px;

padding:20px;

border-radius:25px;

background:

rgba(
255,
255,
255,
0.08
);

color:white;

text-align:center;

border:

1px solid rgba(
255,
255,
255,
0.08
);

box-shadow:

0 0 30px rgba(
255,
77,
141,
0.2
);

}


.memoryCard img{

width:100%;

border-radius:20px;

margin-bottom:15px;

}

.memoryReaction{

font-size:40px;

margin-bottom:15px;

animation:

reactionFloat 1.5s infinite alternate;

}


@keyframes reactionFloat{

from{

transform:
translateY(0);

}

to{

transform:
translateY(-8px);

}

}