/* ===== CONTENEUR ===== */

.letterContainer{

position:absolute;

bottom:80px;
left:50%;

transform:translateX(-50%);

width:50%;
max-width:700px;

padding:28px;

border-radius:35px;

z-index:30;

overflow:hidden;

backdrop-filter:blur(20px);

transition:.5s;

animation:letterOpen .5s ease;

text-align:center;

}


/* ===== ANIMATION ===== */

@keyframes letterOpen{

0%{

opacity:0;

transform:
translateX(-50%)
translateY(20px)
scale(.92);

}

100%{

opacity:1;

transform:
translateX(-50%)
translateY(0)
scale(1);

}

}


/* ===== GARÇON ===== */

.boyLetter{

background:

linear-gradient(
180deg,
rgba(255,255,255,.95),
rgba(240,240,255,.88)
);

color:#333;

border:

1px solid rgba(
255,
255,
255,
0.6
);

box-shadow:

0 0 35px rgba(
255,
255,
255,
0.25
);

}


.boyLetter::before{

content:"✦";

position:absolute;

top:15px;
left:20px;

font-size:22px;

opacity:.7;

}


.boyLetter::after{

content:"✦";

position:absolute;

bottom:15px;
right:20px;

font-size:22px;

opacity:.7;

}


/* ===== FILLE ===== */

.girlLetter{

background:

linear-gradient(
180deg,
rgba(255,220,235,.95),
rgba(255,190,220,.82)
);

color:#7a4d62;

border:

1px solid rgba(
255,
170,
220,
0.6
);

box-shadow:

0 0 40px rgba(
255,
120,
180,
0.3
);

}


.girlLetter::before{

content:"💗";

position:absolute;

top:15px;
left:20px;

font-size:22px;

}


.girlLetter::after{

content:"💗";

position:absolute;

bottom:15px;
right:20px;

font-size:22px;

}


/* ===== DECO ===== */

.letterDecor{

font-size:18px;

margin-bottom:10px;

opacity:.9;

}


/* ===== NOM ===== */

.letterName{

font-size:28px;

font-weight:700;

margin-bottom:15px;

}


/* ===== TEXTE ===== */

.letterText{

font-size:20px;

line-height:1.5;

}