.topbar{

position:absolute;

top:20px;

left:50%;

transform:translateX(-50%);

width:90%;

padding:15px 25px;

display:flex;

justify-content:space-between;

align-items:center;

z-index:1000;

background:

rgba(
255,
255,
255,
0.05
);

border:

1px solid rgba(
255,
255,
255,
0.08
);

backdrop-filter:
blur(15px);

border-radius:30px;

box-shadow:

0 0 30px rgba(
255,
77,
141,
0.2
);

}


.logo{

font-size:24px;

font-weight:bold;

color:white;

}


.topIcons{

display:flex;

gap:12px;

}


.topIcons button{

border:none;

width:45px;

height:45px;

border-radius:50%;

cursor:pointer;

font-size:18px;

background:

rgba(
255,
255,
255,
0.08
);

color:white;

transition:.3s;

}


.topIcons button:hover{

transform:

translateY(-5px);

box-shadow:

0 0 20px rgba(
255,
77,
141,
0.6
);

}