.timelineContainer{

position:absolute;

top:110%;

width:100%;

padding:50px;

color:white;

text-align:center;

}

.timeline{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

margin-top:30px;

}

.timelineCard{

width:220px;

padding:15px;

border-radius:25px;

background:

rgba(
255,
255,
255,
0.08
);

backdrop-filter:
blur(15px);

transition:.4s;

}

.timelineCard:hover{

transform:

translateY(-10px);

}

.timelineCard img{

width:100%;

border-radius:15px;

margin-bottom:15px;

}