.loveCounter{

position:absolute;

top:110px;
right:25px;

display:flex;

align-items:center;

gap:12px;

padding:15px 20px;

border-radius:25px;

background:

rgba(
255,
255,
255,
0.08
);

backdrop-filter:
blur(15px);

color:white;

z-index:40;

box-shadow:

0 0 20px rgba(
255,
120,
180,
0.2
);

animation:

counterFloat 2.5s infinite alternate;

}


.loveCounter h3{

font-size:15px;

margin:0;

}


.loveCounter p{

margin:0;

font-size:14px;

opacity:.85;

}


@keyframes counterFloat{

from{

transform:
translateY(0);

}

to{

transform:
translateY(-5px);

}

}