*{

margin:0;
padding:0;
box-sizing:border-box;

}

html,
body,
#root{

width:100%;
height:100%;
overflow:hidden;

}


.introContainer{

position:relative;

width:100vw;
height:100vh;

overflow:hidden;

}


.introBanner{

position:absolute;

inset:0;

width:100%;
height:100%;

object-fit:cover;

animation:

slowZoom 15s infinite alternate;

}


@keyframes slowZoom{

from{

transform:scale(1);

}

to{

transform:scale(1.05);

}

}


.introOverlay{

position:absolute;

inset:0;

background:

linear-gradient(

to top,

rgba(0,0,0,.45),

rgba(0,0,0,.1)

);

}





.enterButton{

position:absolute;

/* nouveau placement */

left:13.6%;
top:60.5%;

transform:translate(-50%,-50%);

z-index:100;

width:290px;
height:95px;

font-size:0;

border:none;

border-radius:60px;

cursor:pointer;

background:transparent;

box-shadow:none;

transition:.3s;

}


/* léger feedback visuel */

.enterButton:hover{

transform:
translate(-50%,-50%)
scale(1.03);

background:

rgba(
255,
255,
255,
0.04
);

}