.endingOverlay{

position:fixed;

inset:0;

z-index:1200;

background:

linear-gradient(

180deg,

rgba(10,10,30,.92),

rgba(25,10,40,.95)

);

backdrop-filter:blur(15px);

display:flex;

justify-content:center;

align-items:center;

animation:

endingFade .8s ease;

}


.endingContent{

text-align:center;

color:white;

}


.endingCouple{

display:flex;

justify-content:center;

gap:60px;

margin-bottom:40px;

}


.endingCouple img{

width:220px;

filter:

drop-shadow(
0 0 30px rgba(
255,
120,
180,
.4
));

}


.endingHearts{

margin-top:25px;

font-size:35px;

}


@keyframes endingFade{

from{

opacity:0;

}

to{

opacity:1;

}

}